body {
  display: grid;
  place-items: center;
  background: #f0f0f0;
  font-family: Roboto;
}

#mov-footer {
  color:#a1a1a1
}

.form-label {
  font-size: 14px;
}

input.form-control::placeholder {
  color: #d0d0d0; 
}

#mov-form-wrapper {
  padding: 20px 5px 40px 5px;
  border: 1px solid #ececec;
  border-radius: 5px;
}

#mov-payment-form .row .col:first-of-type {
  text-align:right;
  width:25%;
}

.shadow{
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

#loader {
  min-height: 200px;
  max-width: 500px;
  margin: auto;
  display: none;
}

#checkout-container {
  display:none;
  overflow: hidden;
  margin: 0 auto;
  max-width: 500px;
  padding: 32px;

  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

#error-box {
  visibility: hidden;
}

#error-box.active {
  width: 500px;
  visibility: visible;
  height: auto;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  border: 2px solid red;
  background: #fce2e2;
  color: red;
  font-weight: 400;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 4px 5px 5px 1px #fce2e2;
}


@media (max-width: 800px) {
  .headerWLogo {
    flex-direction: column;
    align-items: center;
  }
  
  /* Stack logo and heading vertically */
  .headerWLogo .col-2,
  .headerWLogo .col-8 {
    width: 100%;
    text-align: center;
  }

  #mov-footer{
    font-size: small;
  }

  .dropdowns {
    flex: 0 0 100%;
    max-width: 100%;
  }

}